.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #fff;
    padding: 1rem 0;
    max-height: max-content;
}

.Logo {
    flex: 1;
    height: 2rem;

    img {

        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.Search {
    position: relative;
    flex: 1.5;
    height: 2.8rem;

    width: 1rem;


    input {
        padding: 0 3rem;
        border-radius: 50px;
        border: 1px solid #a99a9a75;
        background-color: transparent;
        width: 100%;
        height: 100%;
        color: white;
        outline: none;
        font-size: 0.97rem;
        padding-left: 1.5rem;

    }

    input::placeholder {
        color: rgb(198, 198, 198);

    }

    .lupa {
        position: absolute;
        transform: translate(-180%, 50%);
        font-size: 1.5rem;
        color: #a99a9a75;

    }

}

.Links {


    flex: 1.5;
    display: flex;
    padding: 0 1rem;
    justify-content: space-around;

    a {

        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: #ffd700;
            /* Cambia el color al pasar el mouse */
        }
    }
}


.buttons {

    max-height: 1rem;

    button {
        font-size: 1.3rem;
        font-weight: bolder;
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        background-color: transparent;
        color: #949494;
        cursor: pointer;
        transition: all 0.7s;


        &:hover {
            font-size: 1.4rem;
            /* Cambia el color al pasar el mouse */
            color: #ffcc00;

        }




    }


    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 1rem;

}