.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;

    &Logo img {
        max-height: 40px;
    }

    &Search input {
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: #fff;
        width: 200px;
    }

    &Links a {
        margin-right: 15px;
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: #ffd700;
            /* Cambia el color al pasar el mouse */
        }
    }

    &Profile button,
    &Wallet button {
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        background-color: #ffd700;
        color: #333;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #ffcc00;
            /* Cambia el color al pasar el mouse */
        }
    }
}