.Slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}


.contenido {
    outline: 2px solid #a601ff;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;


}

.btn {
    display: flex;
    border-radius: 100%;
    border: none;
    padding: 1rem;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.29);
    backdrop-filter: blur(5px);
    color: white;
    border: 2px solid rgb(66, 66, 66);
}

.imagenes {
    display: flex;
    width: 50%;

    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;

    .imagen {

        border-radius: 1.5rem;
        overflow: hidden;
        height: 100%;
        width: 50vw;
        opacity: 1;
        transition: all 0.5s;
        border: 1px solid white;
        color: white;
        position: relative;

        .meta {
            bottom: 0;
            position: absolute;
            width: 100%;
            height: 10rem;
            outline: 5px solid #16ff01;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .img-titulo {
                font-weight: bold;
            }

            button {

                padding: 1rem;
            }
        }



    }


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mid {
        scale: 1;
        opacity: 1;
        z-index: 99;
        transition: all 0.5s;
    }

    .previus {
        transform: translateX(10%);
    }

    .next {
        transform: translateX(-10%);

    }

    .current {
        transform: scale(1.1);

    }

}






.puntos {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

    button {
        padding: 0.3rem;
        border-radius: 100%;
        border: none;
        background-color: #515054;
        transition: all 1s;
        border: 2px solid #70746B;
    }


    button[current=true] {
        border-color: #D7C19A;
        background-color: #D7C19A;

    }



}